body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10;
    padding: 0;
    transition: all 1s cubic-bezier(.25,.8,.25,1);
  }

body.nightmode{
    background-color: black;
    color: white;
}

button {
  padding: 15px 15px 10px 15px;
  border: none;
  text-align: center;
  background: #333333;
  font-size: 14px;
  text-decoration: none;
  width: 105px;
  border-radius: 50px;
  color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  outline: 0;
  cursor: pointer;
}

button.nightmode {
    color: #333333;
    background-color: white;
  }

  